﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Nevron</h1>
    <h3>Exam</h3>

    <div>
        <input id="btnClear" type="button" value="Clear Numbers" />
        <input id="btnAdd" type="button" value="Add Numbers" />
        <input id="btnSum" type="button" value="Sum Numbers" />
    </div>
    
    <div style="display: flex;" id="numbers"></div>

    <div>
        <span class="font-weight-bold">Count:</span> <span id="count"></span>
    </div>
    <div>
        <span class="font-weight-bold">Sum:</span> <span id="sum"></span>
    </div>
</div>


@section Scripts {
    <script src="~/js/numbers.js" asp-append-version="true"></script>
}